@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-slide {
    animation: slide 30s linear infinite;
  }

  .animation-paused {
    animation-play-state: paused;
  }
}

@layer utilities {
  @keyframes slide-slow {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slide-slow {
    animation: slide-slow 60s linear infinite;
  }
}

/* Custom pretty scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #fbbf24; /* amber-400 */
  border-radius: 10px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin {
  scrollbar-color: #fbbf24 transparent; /* for Firefox */
  scrollbar-width: thin;
}

@layer utilities {
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-up {
    animation: fadeUp 1s ease-out both;
  }
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@layer utilities {
  @keyframes glow-red {
    0%, 100% {
      /* 시작과 끝에는 약한 그림자 */
      text-shadow: 0 0 5px rgba(248, 113, 113, 0.8); /* red-500 색상 */
    }
    50% {
      /* 중간에는 더 강한 빛 */
      text-shadow: 0 0 20px rgba(248, 113, 113, 1);
    }
  }
  .glow-red {
    animation: glow-red 1.5s ease-in-out infinite;
  }
}

/* globals.css */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 수평 스크롤 제거 */
}

/* globals.css 등에 추가 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;   /* IE, Edge */
  scrollbar-width: none;      /* Firefox */
}
