@import "tailwindcss";

@layer utilities {
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-slide {
    animation: slide 30s linear infinite;
  }

  .animation-paused {
    animation-play-state: paused;
  }
}

@layer utilities {
  @keyframes slide-slow {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-slide-slow {
    animation: slide-slow 60s linear infinite;
  }
}

/* Custom pretty scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #fbbf24; /* amber-400 */
  border-radius: 10px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin {
  scrollbar-color: #fbbf24 transparent; /* for Firefox */
  scrollbar-width: thin;
}

@layer utilities {
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-up {
    animation: fadeUp 1s ease-out both;
  }
}